.about-container{
    background-color:   black;
}

.about-info{
    font-family: rem;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hook{
    font-family: rem;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container,.about-qualification{
    color: white;
    font-family: rem;
    display: flex;
}

.photo-id{
    max-width: 200px;
    max-height: 300px;
    clip-path: circle();
    border-radius: 70%;
    border: 1px solid orange;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin-left: 45vh;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    text-align: left;
    font-size: 20px;
    width: 45%;
}

.about-qualification{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding-top: 50px;
    color: chocolate;
}