body{
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}

.home-container {
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img-view {
    z-index: -1;
    width: 100%;
    height: 100%
}

/*Start here*/
.name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: rem;
    color: white;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.social-container {
    position: relative;
    left: 25%;
}

.social-container li {
    margin: 10px 40px;
    display: inline-block;
    list-style: none;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px rgb(0 0 0 / 0.4));
}

.social-icon {
    font-size: 3rem; 
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2); 
}

@media screen and (max-width: 760px) {
    body{
        overflow-x: hidden;
    }

    .img-view {
        width: auto;
        height: 50rem;
    }

    .name-container {
        font-size: 18px;
        white-space: nowrap;
    }

    .social-icon {
        font-size: 2rem;
        margin-right: 50px;
        margin-left: -20px;
        align-items: center;
    }

    .social-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .social-container li {
        margin: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .img-view {
        width: auto;
        height: 60rem;
    }
    .name-container {
        white-space: nowrap;
    }
}

@media screen and (min-width: 769px) and (max-width:1440px) { /*Change width*/
    .name-container {
        white-space: nowrap;
    }

    .img-view {
        width: auto;
        height: 60rem;
    }
}

/*I like this, if anything is going wrong its probly with media query or position being absolute
  I also want the social container icons to pop and grow whenever there hovered
  If anything is wrong look at the overflow and try doing *{} this causes a bug in the small screens but still could patch that 
*/ 