@font-face {
    font-family: rem;
    src: url('../assets/REM-VariableFont_wght.ttf');
}

.nav-bar-container{
    margin: 20px 0px;
    padding: 0px 12px;    
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-card{
    background-size: cover;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-family: rem;
    color: white;
    list-style: none;
    cursor: pointer;
}