.container {
    width: 100%;
    align-items: center;
    position: absolute; /*can remove this*/
    z-index: 2;
}

.ul-items {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: rem;
    list-style: none;
    cursor: pointer;
    color: whitesmoke;
}

.nav-item-container{
    background-size: cover;
}

.link-ele:hover{
    color: rgba(252, 134, 0, 0.9);
    border-radius: 1px;
    translate: all .2s ease-in-out;
}

@media screen and (max-width: 767px) {
    .ul-items {
        font-size: 12px;
        padding-right: 10px;
        transform: translate(-4%, -4%);
    }
}

@font-face {
    font-family: rem;
    src: url('../assets/REM-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
    scroll-padding: 15rem;
}