@font-face {
    font-family: rem;
    src: url('../assets/REM-VariableFont_wght.ttf');
}

.nav-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 2; 
}

.nav-card{
    background-size: cover;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-family: rem;
    color: white;
    list-style: none;
    cursor: pointer;
}